html{

    background:#050b16;
}

body{

    margin:0;

    padding:0;

    font-family:Arial;

    background:#050b16;

    color:white;
}

/* HEADER */
.top-header{

    width:1200px;

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 0;
}

.top-header h1{

    color:#00a2ff;
}

nav a{

    color:white;

    text-decoration:none;

    margin:0 15px;

    font-weight:bold;

    transition:0.3s;
}

nav a:hover{

    color:#00a2ff;
}

/* TITLE */
.cart-title{

    text-align:center;

    margin-top:40px;
}

.cart-title h2{

    color:#00a2ff;

    font-size:40px;
}

.cart-title p{

    color:#cfd8e3;
}

/* CART */
.cart-container{

    width:1200px;

    margin:40px auto;
}

.cart-item{

    background:#081326;

    border-radius:15px;

    padding:25px;

    margin-bottom:20px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    transition:0.3s;
}

.cart-item:hover{

    background:#0d1d38;
}

.cart-item h3{

    color:white;

    font-size:24px;
}

.cart-item p{

    color:#00a2ff;

    font-size:22px;

    font-weight:bold;
}

.cart-item button{

    background:#ff3b3b;

    color:white;

    border:none;

    padding:10px 20px;

    border-radius:8px;

    cursor:pointer;

    transition:0.3s;
}

.cart-item button:hover{

    background:#ff0000;
}

/* TOTAL */
.total-box{

    width:1200px;

    margin:40px auto;

    text-align:right;
}

.total-box h3{

    color:#00a2ff;

    font-size:32px;
}

.total-box button{

    background:#0077ff;

    color:white;

    border:none;

    padding:15px 30px;

    border-radius:10px;

    font-size:18px;

    cursor:pointer;

    transition:0.3s;
}

.total-box button:hover{

    background:#00a2ff;
}

/* FOOTER */
footer{

    background:#081326;

    text-align:center;

    padding:30px;

    margin-top:50px;

    color:white;
}

/* RESPONSIVE */
@media(max-width:768px){

    .top-header,
    .cart-container,
    .total-box{

        width:95%;
    }

    .top-header{

        flex-direction:column;

        gap:20px;
    }

    .cart-item{

        flex-direction:column;

        gap:15px;

        text-align:center;
    }

}
/* PAYMENT */
#payment-box{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:100%;

    background:rgba(0,0,0,0.7);

    display:none;

    justify-content:center;

    align-items:center;

    z-index:999;
}

.payment-content{

    background:#081326;

    padding:40px;

    border-radius:15px;

    text-align:center;

    width:400px;
}

.payment-content h2{

    color:#00a2ff;

    margin-bottom:20px;
}

.payment-content input{

    width:100%;

    padding:15px;

    border:none;

    border-radius:10px;

    margin-bottom:20px;

    outline:none;
}

.payment-content button{

    background:#0077ff;

    color:white;

    border:none;

    padding:15px 30px;

    border-radius:10px;

    cursor:pointer;

    transition:0.3s;
}

.payment-content button:hover{

    background:#00a2ff;
}
/* SUCCESS POPUP */
#success-popup{

    position:fixed;

    top:30px;

    right:30px;

    background:linear-gradient(45deg,#00a2ff,#6a00ff);

    color:white;

    padding:20px 35px;

    border-radius:15px;

    font-size:20px;

    font-weight:bold;

    box-shadow:0 0 25px rgba(0,162,255,0.8);

    opacity:0;

    visibility:hidden;

    transform:translateY(-20px);

    transition:0.4s;

    z-index:9999;
}

#success-popup.show{

    opacity:1;

    visibility:visible;

    transform:translateY(0);
}
.payment-content select{

    width:100%;

    padding:15px;

    margin-bottom:15px;

    border:none;

    border-radius:10px;

    outline:none;
}

.payment-content input{

    width:100%;

    padding:15px;

    margin-bottom:15px;

    border:none;

    border-radius:10px;

    outline:none;

    box-sizing:border-box;
}
/* CART IMAGE */
.cart-item img{
    width:140px;
    height:100px;
    object-fit:cover;
    border-radius:10px;
}

.cart-info{
    flex:1;
    margin-left:25px;
}
/* QR */
.qr-image{
    width:220px;
    margin:20px auto;
    display:block;
    border-radius:15px;
}

.qr-text{
    color:#00a2ff;
    font-size:18px;
    margin-bottom:20px;
}