
html{
    background:#050b16;
}

body{
    margin:0;
    padding:0;

    background:#050b16;

    font-family:Arial;

    color:white;
}

/* HEADER */
header{
    background:url("../images/menu-background.png");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    padding:20px 0;

    box-shadow:0 0 20px rgba(0,0,0,0.5);
}

.top-header{
    width:1200px;

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;
}

.top-header h1{
    color:#00a2ff;

    font-size:38px;

    margin:0;
}

/* MENU */
nav a{
    color:white;

    text-decoration:none;

    margin-left:25px;

    font-weight:bold;

    transition:0.3s;
}

nav a:hover{
    color:#00a2ff;
}

.active{
    color:#00a2ff;
}

/* CONTACT BANNER */
.contact-banner{
    width:1200px;

    margin:40px auto;
}

.contact-banner img{
    width:100%;

    border-radius:20px;

    display:block;
}

/* PAGE TITLE */
.page-title{
    width:1200px;

    margin:20px auto 40px;

    text-align:center;
}

.page-title h2{
    color:#00a2ff;

    font-size:40px;

    margin-bottom:10px;
}

.page-title p{
    color:#cfd8e3;

    font-size:18px;
}

/* CONTACT INFO */
.contact-info{
    width:1200px;

    margin:auto;

    display:flex;

    justify-content:space-between;

    gap:20px;
}

.info-card{
    width:260px;

    background:#081326;

    border-radius:18px;

    text-align:center;

    padding:30px 20px;

    transition:0.3s;

    box-shadow:0 0 15px rgba(0,0,0,0.3);
}

.info-card:hover{
    transform:translateY(-8px);

    background:#0d1d38;

    box-shadow:0 0 20px rgba(0,162,255,0.3);
}

.info-card img{
    width:80px;

    margin-bottom:20px;
}

.info-card h3{
    color:white;

    margin-bottom:10px;
}

.info-card p{
    color:#cfd8e3;

    line-height:25px;
}

/* CONTACT FORM */
.contact-form{
    width:1200px;

    margin:70px auto;
}

.form-box{
    background:#081326;

    padding:40px;

    border-radius:20px;

    box-shadow:0 0 20px rgba(0,0,0,0.4);
}

.form-box h2{
    color:#00a2ff;

    margin-bottom:30px;

    text-align:center;

    font-size:35px;
}

.form-box input{
    width:100%;

    padding:15px;

    margin-bottom:20px;

    background:#0d1d38;

    border:none;

    border-radius:10px;

    color:white;

    font-size:16px;

    box-sizing:border-box;
}

.form-box textarea{
    width:100%;

    height:180px;

    padding:15px;

    background:#0d1d38;

    border:none;

    border-radius:10px;

    color:white;

    font-size:16px;

    resize:none;

    box-sizing:border-box;
}

.form-box button{
    margin-top:25px;

    width:100%;

    padding:16px;

    background:#0077ff;

    color:white;

    border:none;

    border-radius:10px;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

.form-box button:hover{
    background:#00a2ff;

    transform:scale(1.01);
}

/* SUPPORT */
.support-box{
    width:1200px;

    margin:40px auto 80px;
}

.support-item{
    background:#081326;

    border-radius:20px;

    padding:40px;

    text-align:center;

    transition:0.3s;

    box-shadow:0 0 20px rgba(0,0,0,0.4);
}

.support-item:hover{
    background:#0d1d38;

    box-shadow:0 0 20px rgba(0,162,255,0.3);
}

.support-item img{
    width:90px;

    margin-bottom:20px;
}

.support-item h3{
    color:white;

    font-size:30px;

    margin-bottom:10px;
}

.support-item p{
    color:#cfd8e3;

    font-size:18px;
}

/* FOOTER */
footer{
    background:url("../images/footer-background.png");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    text-align:center;

    padding:60px 20px;

    color:white;

    font-size:18px;
}

/* nút thông báo*/
/* POPUP */
#popup{

    position:fixed;

    top:30px;

    right:30px;

    background:linear-gradient(45deg,#6a00ff,#00a2ff);

    color:white;

    padding:18px 30px;

    border-radius:12px;

    font-weight:bold;

    font-size:18px;

    box-shadow:0 0 20px rgba(0,162,255,0.7);

    opacity:0;

    visibility:hidden;

    transform:translateY(-20px);

    transition:0.4s;

    z-index:999;
}

#popup.show{

    opacity:1;

    visibility:visible;

    transform:translateY(0);
}

